@page "/"
<PageTitle>Home</PageTitle>

<h1>FileArchive component demos</h1>

<p>In the menu to the left, you can select between different configs of the FileArchive component.</p>

<p>For each demo, you can select between the list or card presentation of the file archive.</p>

<p>The demos consist of:</p>

<ul>
    <li>Demo 1/Demo 1 Cards: See, add, remove and update files</li>
    <li>Demo 2/Demo 2 Cards: See, add, remove and update files, no description however</li>
    <li>Demo 3/Demo 3 Cards: Only see files in File Archive</li>
    <li>Demo 4/Demo 4 Cards: Only display Add section with decription of component</li>
    <li>Demo 5/Demo 5 Cards: Allow to add one file only. Max 3 files in archive</li>
    <li>Demo 6/Demo 6 Cards: Use FileArchive* component outside an EditForm component</li>
</ul>

@code {
}
