@page "/"
<PageTitle>Home</PageTitle>

<h1>FileArchive component demos</h1>

<p>In the menu to the left, you can select between different configs of the JWFileArchive component.</p>

The demos consist of:

<ul>
    <li>Demo 1: See, add, remove and update files</li>
    <li>Demo 2: See, add, remove and update files, no description however</li>
    <li>Demo 3: Only see files in File Archive</li>
    <li>Demo 4: Only display Add section with decription of component</li>
    <li>Demo 5: Allow to add one file only. Max 3 files in archive</li>
</ul>

<p>The component project consist of ...</p>

@code {
}
